<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body>

    <% /* %> <header>
        <%- include('../partials/header'); %>
    </header> <% */ %>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="jumbotron">
                    <h1>Web novel advanced filter</h1>
                    <p>Advanced filter for web novels!</p>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-auto">
                <label for="keyword">Keyword: </label>
                <input type="text" name="keyword" id="keyword" placeholder="Keyword">
            </div>
            <div class="col-md-auto">
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="chkTitle">
                    <label class="custom-control-label" for="chkTitle">Title</label>
                </div>
            </div>
            <div class="col-md-auto">
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="chkAuthor">
                    <label class="custom-control-label" for="chkAuthor">Author</label>
                </div>
            </div>
            <div class="col-md-auto">
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="chkDescription">
                    <label class="custom-control-label" for="chkDescription">Description</label>
                </div>
            </div>
            <div class="col-md-auto">
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="chkTag">
                    <label class="custom-control-label" for="chkTag">Tag</label>
                </div>
            </div>
            <div class="col-md-auto">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="swcKeywordAnd">
                    <label class="custom-control-label" for="swcKeywordAnd">And</label>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-sm-4 my-auto">
                <label>Category: </label>
                <div class="autocomplete">
                    <input type="text" id="category" placeholder="Main category">
                </div>
            </div>
            <div class="col-sm-4 my-auto">
                <label>Tags: </label>
                <div class="autocomplete">
                    <input type="text" id="tag" placeholder="Tag">
                </div>
            </div>
            <div class="col-sm-4 my-auto">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="swcTagsAnd">
                    <label class="custom-control-label" for="swcTagsAnd">AND</label>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center mb-4">
            <div class="col-md-auto">
                <button class="btn btn-info" id="search">Search</button>
                <button class="btn btn-info" id="reset" type="reset">Reset</button>
            </div>
        </div>


        <div class="row mb-4">
            <div class="col align-self-start">
            </div>
            <div class="col align-self-center">
            </div>
            <div class="col-md-auto align-self-end">
                <select id="sort" class="custom-select">
                    <option value="-1" selected disabled>-</option>
                    <option value="0">Rating</option>
                    <option disabled value="1">Views</option>
                    <option disabled value="2">Collections</option>
                    <option value="3">Total chapters</option>
                    <option value="5">Random</option>
                    <option disabled value="6">Power stones</option>
                </select>
            </div>
        </div>

        <div class="row" id="list">
            <% /* %> 
            <div class="col-sm-4">
                <div class="card"><img class="card-img-left"
                        alt="Perfect Secret Love: The Bad New Wife is a Little Sweet"
                        src="https://img.webnovel.com/bookcover/8600631606000605/150/150.jpg">
                    <div class="card-body">
                        <p class="card-text" title="Perfect Secret Love: The Bad New Wife is a Little Sweet"
                            style="font-weight: bold;">Perfect Secret Love: The Bad New Wife is a Little Sweet</p>
                        <span class="badge badge-primary">Reincarnation</span><span
                            class="badge badge-primary">Romance</span><span class="badge badge-primary">Female
                            Protagonist</span><span class="badge badge-primary">Beautiful Female Lead</span><span
                            class="badge badge-primary">Revenge</span>
                        <a data-toggle="collapse" href="#collapseExample" >
                            Toggle all
                        </a>
                        <div class="collapse" id="collapseExample">
                            <span class="badge badge-primary">Reincarnation</span><span
                                class="badge badge-primary">Romance</span><span class="badge badge-primary">Female
                                Protagonist</span><span class="badge badge-primary">Beautiful Female Lead</span><span
                                class="badge badge-primary">Revenge</span>
                        </div>
                        <p class="card-text"
                            title="“How perverted is Si Ye Han's taste? He still wants me like this?” Waking up, she looked at her reflection in the mirror: explosive wig, tattoos, and demon-like makeup. Any normal person’s eyes would burn if they looked at her for more than a second.
                Before her rebirth, she was in love with a different guy, so all she wanted to do was escape from Si Ye Han and hated him to his core after being locked up by him. 
                After her rebirth, she looked differently at him, thinking that maybe he changed for the better?
                In the past, her mind was muddled. She let go of a stunning husband, was hurt by a scumbag and backstabber and most of all, was brainwashed by her most trusted friend. In the end, she was utterly alone.
                In her current lifetime, there are evil people scheming and eagerly waiting for her downfall. Sorry, but this girl won’t fall for the same tricks twice! ">
                            “How perverted is Si Ye Han's taste? He still wants me like this?” Waking up, she looked
                            at her reflec....</p>
                    </div>
                </div>
            </div>
        </div>
    <% */ %>
    </div>

    <% /* %> <footer>
        <%- include('../partials/footer'); %>
    </footer> <% */ %>

</body>

</html>